<h2>http</h2>
<div>
  <app-http01></app-http01>
</div>
<h2>rxjs</h2>
<div>
</div>
<h2>第1种方:通过输入型绑定把数据从父组件传到子组件</h2>
<div>
  <!--childData是子组件的接收参数，appData是父组件传递的数据，整个数据传递过程的重点，桥梁-->
  <app-one [childData]="appData"></app-one>
</div>
<hr>
<h2>第2种方:通过setter截听输入属性值的变化</h2>
<h4>这种交互方式的书写格式有些不太符合我们平时的书写规范( 抓住老鼠的都是好猫！)</h4>
<div>
  <app-two *ngFor="let app of appData" [child]="app"></app-two>
</div>
<hr>
<h2>第3种方</h2>
<h4>OnChanges是一个生命周期钩子，一旦检测到该组件(或指令)的输入属性发生了变化，Angular就会调用它的ngOnChanges()方法。</h4>
<div>
  <table>
    <tr>
      <td>ID</td>
      <td><input type="text" [(ngModel)]="id"/></td>
    </tr>
    <tr>
      <td>PassWord</td>
      <td><input type="text" [(ngModel)]="password"/></td> <!--使用ngModel要记住在app.module.ts里面添加FormsModule-->
    </tr>
    <tr colspan="2">
      <td><button (click)="reset()">Reset Log</button></td>
    </tr>
  </table>
  <div>
    <app-three [id]="id" [password]="password"></app-three>
  </div>
</div>
<hr>
<h2>第4种方-比较好</h2>
<div>

  <p>{{title}}</p>
  <app-four (hahaha)="zidingyishijian($event)"></app-four> <!--hahaha是子组件自定义的事件，触发hahaha事件，执行父组件的zidingyishijian()方法
  参数必须是$event！所以子组件只能传递一个值 如果是多个那就传递成一个数组或者一个对象-->

</div>
<hr>
<h2>第5种方</h2>
<h4>在父组件模板里，新建一个本地变量来代表子组件，然后利用这个变量来读取子组件的属性和调用子组件的方法</h4>
<div>

  <p>{{title05}}</p><!--调用父组件自己的变量-->
  <p>{{data.title05}}</p><!--调用子组件的变量-->
  <app-five  #data></app-five><!--在父组件模板里，新建一个本地变量来代表子组件，然后利用这个变量来读取子组件的属性和调用子组件的方法-->
  <button (click)="data.changeTitle()">我是父组件中按钮-点击我可以调用子组件的方法</button><!--调用子组件的方法 (changeTitle是子组件定义的方法)-->
</div>
<hr>
<h2>第6种方</h2>
<div>

  <p>{{title06}}</p>
  <p>{{data06.title06}}</p>
  <app-six  #data06></app-six>
  <button (click)="btnClick()">我是父组件的按钮</button><!--注意这里，跟第五个方法有些区别 onclick是父组件的方法-->
</div>
<hr>
<h2>第7种方</h2>
<h4>跟angularjs中 anData的用法一模一样 用service定义一个公共对象 用来组件中间使用</h4>
<div>
  <p>{{title07}}</p>
  <button (click)="btnClick07()">我是父组件中的按钮</button>
  <app-seven></app-seven>
</div>
<hr>
<style>
  .routes>a{display: inline-block;padding:5px 10px;margin-right: 10px;background: darkcyan;border-right: 3px;cursor: pointer}
</style>


<!--<router-outlet></router-outlet>-->


<style>
  #router02 li{cursor: pointer}
</style>


<div id="router02" style="border:1px solid;padding:50px;">
  <div class="routes">
    <a [routerLink]="['/index']">主页</a>
    <a [routerLink]="['/product']">商品页</a>
    <a [routerLink]="['/customer']" [queryParams]="{id:'我在html中定义了所以，相当于在路由的path定义了，所以刷新页面也不会丢失'}">客户页面</a>
  </div>
  <ul>
    <li [routerLink]="['/page01','我是参数']">page01</li>
    <li [routerLink]="['/page02']" [queryParams]="{id:1}">page02</li>
    <li [routerLink]="['/page03','我是参数']">page03</li>
    <li (click)="gotopage03()">page03</li>
    <li (click)="gotopage05()">page05</li>
  </ul>
  <div style="padding:50px">
    <router-outlet></router-outlet>
  </div>
</div>
<div style="height: 100px;border:1px solid #999;padding:20px;margin-top:50px;">
  我是footer
</div>
